@font-face {
  font-family: 'varela_roundregular';

  src: url('../fonts/varela_round-webfont.eot');
  src: url('../fonts/varela_round-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/varela_round-webfont.woff') format('woff'),
       url('../fonts/varela_round-webfont.ttf') format('truetype'),
       url('../fonts/varela_round-webfont.svg#varela_roundregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'montserratregular';
  src: url('../fonts/montserrat-webfont.eot');
  src: url('../fonts/montserrat-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/montserrat-webfont.woff') format('woff'),
       url('../fonts/montserrat-webfont.ttf') format('truetype'),
       url('../fonts/montserrat-webfont.svg#montserratregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*Fuente Nueva:*/
@font-face {
  font-family: 'Lora';
  src: url('../fonts/lora-v17-latin-regular.eot');
  src: url('../fonts/lora-v17-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/lora-v17-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/lora-v17-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/lora-v17-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/lora-v17-latin-regular.svg#Lora') format('svg'); /* Legacy iOS */
  font-weight: normal;
  font-style: normal;
}


body, h1, h2, h3, p, input {
  margin: 0;
  font-weight: 400;
  font-family: "Lora", serif;
  color: #34302d;
}

h1 {
  font-size: 24px;
  line-height: 30px;
  font-family: "Lora", serif;
}

h2 {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 10px;
  font-family: "Lora", serif;
}

h3 {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 10px;
  font-weight: 700;
}

p {
  font-family: "Lora", serif;
  //font-size: 15px;
  //line-height: 24px;
}

strong {
  font-weight: 700;
  font-family: "Lora", serif;
}
